{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{!-- {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}} --}}
        {{!-- {{#if @blog.navigation}} --}}
            <a class="home-button" href="/">Home</a>
        {{!-- {{/if}} --}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Archive</h1>
        </div>
    </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <section class="post-content">
            <table>
                <tbody>
                    {{#get "posts" limit="all" include="author,tags"}}
                        {{#foreach posts}}
                            <tr>
                                <td class="title-column"><a href="{{url}}">{{title}}</a></td>
                                <td class="tag-column">{{tags}}</td>
                                <td><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</td>
                            </tr>
                        {{/foreach}}
                    {{/get}}
                </tbody>
            </table>

        </section>

    </article>
</main>
{{/post}}
